@tailwind base;
@tailwind components;
@tailwind utilities;
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 192 192' fill='%23c4b5fd' opacity='0.1'%3E%3Cpath d='M68 56C81.3 56 92 46.6 92 35S81.3 14 68 14s-24 9.4-24 21 10.7 21 24 21zm56 0c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zm0 52c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zm56 52c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zm0-104c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zM12 56c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zm0 52c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zm0 52c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zm112-52c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21zM68 160c13.3 0 24-9.4 24-21s-10.7-21-24-21-24 9.4-24 21 10.7 21 24 21z'%3E%3C/path%3E%3C/svg%3E");
}
